.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.admin-header-left {
  display: flex;
  align-items: center;
}

.admin-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.admin-logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #055db4;
}

.admin-header-right {
  font-size: 1rem;
  color: #333;
}
