/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #055db4;
}

.header-nav button {
  background: none;
  border: none;
  font-size: 1rem;
  margin-left: 20px;
  cursor: pointer;
  color: #333;
}

.header-nav button:hover {
  color: #055db4;
  font-weight: bold;
}
